html,
body {
  font-family: "Raleway", sans-serif;
  font-smoothing: antialiased;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none !important;
}

#menubutton i:hover{
  opacity: 0.5;
  transition-duration: 2s;
}

#sidebar {
  animation-duration: 0.2s;
  background-color: rgba(84, 106, 123, 0.95);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 300px;
  z-index: 1;
}
#sidebar ul {
  display: table;
  position: relative;
  top: 6em;
  width: 100%;
}
#sidebar ul li {
  border-style: none;
  display: table;
  font-size: 20px;
  font-weight: 400;
  height: 60px;
  margin-bottom: 5px;
  width: 100%;
}
#sidebar ul li:hover {
  background-color: #222426 !important;
  color: #546a7b !important;
}
#sidebar ul li a {
  background-color: rgba(84, 106, 123, 0);
  color: inherit;
  display: table-cell;
  height: 100%;
  padding-left: 1.2em;
  text-decoration: none;
  transform: translate(-5px, 0);
  transition: 0.6s ease-out;
  vertical-align: middle;
  width: 100%;
}
#sidebar ul li a:hover {
  color: #00f6ed !important;
  transform: translate(5px, 0);
  transition: 0.2s linear;
}

#projects {
  background-color: #222426;
  padding: 80px 0;
}
#projects h2 {
  display: block;
  font-size: 38px;
  font-weight: 400;
  color: white;
  letter-spacing: 5px;
  margin: 0 !important;
  margin-after: 0.83em;
  margin-before: 0.83em;
  padding-bottom: 50px;
  position: relative;
  text-align: center;
}
#projects h2after {
  bottom: 30px;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 100px;
}

#about {
  background-color: #fdfdff;
  margin: 0;
  min-height: 70%;
  padding: 80px 0;
}
#about h2 {
  display: block;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 5px;
  margin: 0 !important;
  margin-after: 0.83em;
  margin-before: 0.83em;
  padding-bottom: 50px;
  text-align: center;
}
#about h2after {
  bottom: 30px;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 100px;
}
#about div {
  font-family: "Droid Serif", sans-serif;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.4em;
  text-indent: 25px;
}

#contact {
  background-color: #222426;
  font-size: 25px;
}
#contact strong {
  color: #222426;
}

@media (min-width: 1024px) {
  #menu-button {
    font-size: 14px;
    left: 2.5em;
    position: fixed;
    top: 2.5em;
    z-index: 2;
  }

  #home h1 p {
    font-size: 42px;
    font-weight: 400;
  }
  #home h1 strong {
    font-size: 46px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #menu-button {
    font-size: 12px;
    left: 2.5em;
    position: fixed;
    top: 2.5em;
    z-index: 2;
  }

  #home h1 p {
    font-size: 38px;
    font-weight: 400;
  }
  #home h1 strong {
    font-size: 42px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  #menu-button {
    font-size: 10px;
    left: 2.5em;
    position: fixed;
    top: 2.5em;
    z-index: 2;
  }

  #home h1 p {
    font-size: 30px;
    font-weight: 400;
  }
  #home h1 strong {
    font-size: 34px;
  }

  #contact button {
    font-size: 0.7em;
  }
  #contact p {
    font-size: 0.7em;
  }
}
.dark-gray-background {
  background-color: #222426;
}

.dark-gray-font {
  color: #222426 !important;
}

.light-white-font {
  color: #fdfdff;
}

.light-blue-background {
  background-color: #edf9f9;
}

.middle-blue-font {
  color: #00f6ed !important;
}

.blackish-font {
  color: black;
}

.middle-blue-background {
  background-color: #00f6ed;
}

.dark-blue-font {
  color: #546a7b;
}

.center {
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container-fluid {
  min-height: 100%;
  padding: 0;
}

.fill {
  height: 100%;
  min-height: 100%;
}

.footer {
  bottom: 0;
  min-height: 30%;
  position: relative;
}
.footer .container {
  left: 50%;
  padding-top: 1.3em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: #fff;
}

.fixed-width {
  max-width: 300px;
  min-width: 300px;
}

.email {
  font-size: 0.9em;
  height: 2.4em;
  width: 8.7em;
}

.typed-cursor {
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  opacity: 1;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.panel-footer a {
  color: #546a7b;
}

.panel-footer h3{
  font-weight: bold;
}

.panel-footer{
  background-color: #fff;
}

.panel-body:hover{
  opacity: 0.5;
}



/* 4- skills section */
#skills {
  padding: 30px 20px;
  background-color: #07083e;
}
#skills h3 {
  text-align: center;
}
#skills ul {
  margin: 40px 0;
}
#skills li {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  grid-column: span 4;
  text-align: center;
}
#skills img {
  height: 80px;
  margin: 10px auto;
}


/* button code

<!-- HTML !-->
<button class="button-28" role="button">Button 28</button>

/* CSS */
.button-28 {
  appearance: none;
  background-color: #222426;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #00f6ed;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #222426;
  background-color: #00f6ed;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

.button-27 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 5px;
  box-sizing: border-box;
  color: #222426;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 10px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 0px;
  min-width: 0;
  outline: none;
  padding: 6px 2px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

.buttonGame {


}

.buttonJS {
  background-color: #94d3a2;
  display: inline-block;
  border-radius: 6px;
  color: #fff;
  text-align: center;
  border: 1px solid rgba(27, 31, 35, .15);
}

.buttonC {
  background-color: #e71717;
  font-size: 10px;
  display: inline-block;
  border-radius: 6px;
  color: #fff;
  text-align: center;
  border: 1px solid rgba(27, 31, 35, .15);
}

.buttonWebDev {
  background-color: #94d3a2;
  display: inline-block;
  border-radius: 6px;
  color: #fff;
  text-align: center;
  border: 1px solid rgba(27, 31, 35, .15);
}

.buttonPy{
  background-color: #94d3a2;
  display: inline-block;
  border-radius: 6px;
  color: #fff;
  text-align: center;
  border: 1px solid rgba(27, 31, 35, .15);
}

.buttonCrypto {
  background-color: #94d3a2;
  display: inline-block;
  border-radius: 6px;
  color: #fff;
  text-align: center;
  border: 1px solid rgba(27, 31, 35, .15);
}



